<br>
<div class="card mb-3">
  <div class="card-header">
    Editar Habitacion</div>
  <div class="card-body">
    <div class="table-responsive">
      <form [formGroup]="ActualizarForm" (ngSubmit)="ActualizarHabitacion()">
        <div class="form-group">
            <label for="habitacion">Habitación</label>
            <select class="form-control" id="habitacion" formControlName="habitacion" (change)="HabitacionChanged($event.target.value)">
              <option *ngFor="let Habitacion of Habitaciones" value={{Habitacion.ID}}>{{Habitacion.NUMERO}}</option>
            </select>
          </div>
        <div class="form-group">
          <label for="numero">Numero de la habitacion</label>
          <input type="text" class="form-control" id="numero" name="numero" aria-describedby="emailHelp" placeholder="Numero de la habitacion" formControlName="numero">
        </div>
        <div class="form-group">
          <label for="camas">Cantidad de camas</label>
          <input type="text" class="form-control" id="camas" name="camas" aria-describedby="emailHelp" placeholder="camas" formControlName="camas">
        </div>
        <div class="form-group">
          <label for="capacidad">Capacidad</label>
          <input type="text" class="form-control" id="capacidad" name="capacidad" aria-describedby="emailHelp" placeholder="Capacidad" formControlName="capacidad">
        </div>
        <div class="form-group">
          <label for="banos">Cantidad de baños</label>
          <input type="number" class="form-control" id="banos" name="banos" aria-describedby="emailHelp" placeholder="banos" formControlName="banos">
        </div>
        <div class="form-group">
          <label for="hotel">Hotel</label>
          <select class="form-control" id="hotel" formControlName="hotelId">
            <option *ngFor="let Hotel of Hoteles" value={{Hotel.ID}}>{{Hotel.DIRECCION}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
        <a data-toggle="tooltip" title="Un campo del formulario esta incorrecto" *ngIf="Correcto">
            <i class="fas fa-exclamation-triangle alert-validation"></i>
          </a>
      </form>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
