

<br>
<div class="card mb-3">
  <div class="card-header">
   Actualizar Reserva</div>
  <div class="card-body">
    <div class="table-responsive">
      <form [formGroup]="ReservaActualizarForm" (ngSubmit)="ActualizarReserva()">
        <div class="form-group">
          <label for="id">Codigo reserva</label>
          <input type="number" class="form-control" formControlName="id" placeholder="Ingrese codigo de la reserva">
        </div>
        <div class="form-group">
          <label for="usuarioId">Rut del usuario</label>
          <input type="text" class="form-control" formControlName="usuarioId" placeholder="Ingrese rut del usuario sin guion ni digito verificador">
        </div>
        <div class="form-group">
          <label for="fechaInicio">Fecha inicio reserva</label>
          <input type="date" class="form-control" formControlName="fechaInicio" placeholder="Ingrese una fecha">
        </div>
        <div class="form-group">
          <label for="fechaTermino">Fecha termino reserva</label>
          <input type="date" class="form-control" formControlName="fechaTermino" placeholder="Ingrese una fecha">
        </div>
        <div class="form-group">
          <label for="total">Total de la reserva</label>
          <input type="number" class="form-control" formControlName="total" placeholder="Ingrese el total de la reserva">
        </div>
        <div class="form-group">
          <label for="medioPago">Medio de pago de la reserva</label>
          <select class="form-control" id="medioPago" formControlName="medioPago" required>
              <option value="0" selected>Efectivo</option>
              <option value="1">Debito</option>
              <option value="2">Credito</option>
            </select>
        </div>
        <div class="form-group">
          <label for="HabitacionId">Id de la habitacion reservada</label>
          <input type="text" class="form-control" formControlName="habitacionId" placeholder="Ingrese la id de la habitacion">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Actualizar</button> &nbsp;
          <button (click)="BuscarReserva()" type="button" class="btn btn-primary">Buscara reserva</button>
          <a data-toggle="tooltip" title="Un campo del formulario esta incorrecto" *ngIf="Correcto">
              &nbsp;
            <i class="fas fa-exclamation-triangle alert-validation"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
  <div class="card-footer small text-muted">Veranum</div>
</div>
