<!-- <form>
  <div class="form-group">
    <label for="fechaInicio">Fecha de inicio</label>
    <input type="date" class="form-control" id="fechaInicio" aria-describedby="emailHelp" placeholder="Fecha inicio">
  </div>
  <div class="form-group">
    <label for="fechaTermino">Fecha termino</label>
    <input type="date" class="form-control" id="fechaTermino" aria-describedby="emailHelp" placeholder="Fecha termino">
  </div>
  <div class="form-group">
    <label for="total">Total a pagar</label>
    <input type="number" class="form-control" id="total" aria-describedby="emailHelp" placeholder="Total a pagar">
  </div>
  <div class="form-group">
    <label for="medioPago">Medio de pago</label>
    <select class="form-control" id="medioPago">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="habitacion">Habitación</label>
    <select class="form-control" id="habitacion">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Ingresar</button>
</form> -->