

<br>
<div class="card mb-3">
  <div class="card-header">
    Ver Reservas</div>
  <div class="card-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID reserva</th>
                <th scope="col">Habitacion reservada</th>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha termino</th>
                <th scope="col">Total</th>
                <th scope="col">Usuario</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Reserva of Reservas">
                <th scope="row">{{Reserva.ID}}</th>
                <td>{{Reserva.HABITACIONID}}</td>
                <td>{{Reserva.FECHA_INICIO.slice(0,10)}}</td>
                <td>{{Reserva.FECHA_TERMINO.slice(0,10)}}</td>
                <td>{{Reserva.TOTAL}}</td>
                <td>{{Reserva.USUARIOID}}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Veranum</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
