<br>
<div class="card mb-3">
  <div class="card-header">
      Registrarse</div>
  <div class="card-body">
    <div class="table-responsive">
        <form [formGroup]="SignupGroup" class="form" role="form" (ngSubmit)="CrearCuenta()">
            <input type="text" name="rut" value="" class="form-control input-lg" placeholder="Rut" formControlName="rut" required>
            <div class="row">
              <div class="col-xs-6 col-md-6">
                <input type="text" name="nombre" value="" class="form-control input-lg" placeholder="Nombre"  formControlName="nombre" required> 
              </div>
              <div class="col-xs-6 col-md-6">
                <input type="text" name="apellido" value="" class="form-control input-lg" placeholder="Apellido"  formControlName="apellido" required>
              </div>
            </div>
            <input type="number" name="telefono" value="" class="form-control input-lg" placeholder="Telefono" formControlName="telefono" required>
            <input type="text" name="direccion" value="" class="form-control input-lg" placeholder="direccion" formControlName="direccion" required>
            <input type="email" name="correo" value="" class="form-control input-lg" placeholder="correo" formControlName="correo" required>
            <input type="email" name="nombreUsuario" value="" class="form-control input-lg" placeholder="Nombre de usuario" formControlName="nombreUsuario" required>
            <input type="password" name="password" value="" class="form-control input-lg" placeholder="Password" formControlName="contrasena" required>
            <div class="row"> 
              <div class="col-xs-12 col-md-12">
                <select name="Empresa" id="empresa" formControlName="empresa" class = "form-control input-lg" required>
                  <option value="0" selected>Ninguna empresa</option>
                  <option *ngFor="let Empresa of Empresas" value={{Empresa.RUT}}>{{Empresa.NOMBRE}}</option>
                </select>
              </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">Crear cuenta</button>
          </form>     
    </div>
  </div>
  <div class="card-footer small text-muted">Veranum</div>
</div>
