<form [formGroup]="HabitacionForm" (ngSubmit)="IngresarHabitacion()">
  <div class="form-group">
    <label for="numero">Numero de la habitacion</label>
    <input type="text" class="form-control" id="numero" name="numero" aria-describedby="emailHelp" placeholder="Numero de la habitacion" formControlName="numero">
  </div>
  <div class="form-group">
    <label for="camas">Cantidad de camas</label>
    <input type="text" class="form-control" id="camas" name="camas" aria-describedby="emailHelp" placeholder="camas" formControlName="camas">
  </div>
  <div class="form-group">
    <label for="capacidad">Capacidad</label>
    <input type="text" class="form-control" id="capacidad" name="capacidad" aria-describedby="emailHelp" placeholder="Capacidad" formControlName="capacidad">
  </div>
  <div class="form-group">
    <label for="banos">Cantidad de baños</label>
    <input type="number" class="form-control" id="banos" name="banos" aria-describedby="emailHelp" placeholder="banos" formControlName="banos">
  </div>
  <div class="form-group">
    <label for="hotel">Hotel</label>
    <select class="form-control" id="hotel" formControlName="hotel">
      <option *ngFor="let Hotel of Hoteles" value={{Hotel.ID}}>{{Hotel.DIRECCION}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Ingresar</button>
</form>