<form [formGroup]="ReservaForm" (ngSubmit)="AgregarReserva()">
    <div class="form-group">
      <label for="fechaInicio">Fecha inicio</label>
      <input type="date" class="form-control" id="fechaInicio" aria-describedby="emailHelp" placeholder="Fecha inicio" formControlName="fechaInicio" required>
    </div>
    <div class="form-group">
      <label for="fechaTermino">Fecha termino</label>
      <input type="date" class="form-control" id="fechaTermino" aria-describedby="emailHelp" placeholder="Fecha termino" formControlName="fechaTermino" required>
    </div>
    <label for="total">Total a pagar</label>
    <div class="row">
      <div class="col-xs-6 col-md-6">
        <input type="number" class="form-control" id="total" aria-describedby="emailHelp" placeholder="Total en dolares" disabled value={{valorTotal}} >
      </div>
      <div class="col-xs-6 col-md-6">
        <input type="number" class="form-control" id="total" aria-describedby="emailHelp" placeholder="Total en pesos chilenos" disabled value={{valorTotalCLP}} >
      </div>
    </div>
    <div class="form-group">
      <label for="medioPago">Medio de pago</label>
      <select class="form-control" id="medioPago" formControlName="medioPago" required>
        <option value="0">Efectivo</option>
        <option value="1">Debito</option>
        <option value="2">Credito</option>
      </select>
    </div>
    <div class="form-group">
      <label for="habitacion">Habitacion</label>
      <select class="form-control" id="habitacion" formControlName="habitacion" (change)="HabitacionChanged($event.target.value)" required> 
        <option *ngFor="let Habitacion of Habitaciones" value={{Habitacion.ID}}>{{Habitacion.NUMERO}}</option>
      </select>
    </div>
    <input type="submit" class="btn btn-primary" value="Ingresar">
    <a data-toggle="tooltip" title="Un campo del formulario esta incorrecto" *ngIf="Correcto">
        &nbsp;
      <i class="fas fa-exclamation-triangle alert-validation"></i>
    </a>
</form>